.header {
  border-bottom: 1px solid #ebebeb;
}

.alert-danger{
  font-family: 'Cardo';
  top: 5px;
  background-color: #FFEBEE !important;
}

.alert {
  border-radius: none;
}
.logo-header{
  padding-left:35px;
}

.logo {
  width: 120px;
  padding-top: 17px;
  padding-bottom: 17px;
}

.uploadcare--widget {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.continue-button {
  margin: 20px 0px !important;
  text-align: center;
}

.finalize-image-button,
.finalize-image-button:hover,
.finalize-image-button:focus {
  padding: 10px 90px;
  background: #eee171;
  border: 1px solid transparent;
  color: #1d2019;
  cursor: pointer;
  font: unset;
  font-family:'Cardo';
  font-size: 1.25rem;
  letter-spacing: 3px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.uploadcare--widget__button_type_open,
.uploadcare--widget__button_type_open:hover,
.uploadcare--widget__button_type_open:focus {
  margin-left: 45px;
  background: url("https://cdn.framebridge.com/assets/upload-icon-ac9e9a266300e4740aedca59cda00c80793c62adf56b33b4b473b358415598ad.png")
    no-repeat;
  outline-offset: 10px;
  overflow: hidden;
  text-indent: 100px;
  cursor: pointer;
  width: 200px;
  height: 200px;
  background-size: 70%;
}

.image-preview, .frame-image {
  max-height: 600px;
  max-width: 400px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

.finalize-product-btn {
	margin-top: 15px;
  width:360px;
}

.frame-thumbnail {
  width: 35px;
  height: 35px;
}

.upload-photo-heading {
  text-align: center;
  letter-spacing: 0;
  font-weight: 700;
  margin-top: 35px;
  color: #1d2019;
  font-family:'Cardo';
}

.center {
  text-align: center;
}

.select-size {
  margin-top: 16px;
  border: 1px solid #d8d8d8;
  margin-bottom: 10px;
  background-color: #fafafa;
}

.select-size:focus{
  border-color: #1d2019;
}

.select-size:hover{
  border-color: #1d2019;
}
.select-box{
  border: 0px;
  font-size: 1.7rem !important;
  background-color: #fafafa;
  font-family: 'Cardo';
}

.select-label{
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 3px;
    /* color: #777; */
  padding: 5px 12px 0px 10px;
}
.custom-select:focus{
  border:none !important;
  box-shadow: none !important;
}

.custom-select:hover{
  border:none !important;
  box-shadow: none !important;
}
.upload-pic-sub-heading {
  font-family:'Cardo';
}

.custom-select {
  height:35px;
}

.custom-select option {
  font-family: inherit;
  height: 20px;
}

.announcement-bar {
  background-color: #3a3a3a;
  padding-top: 15px;
  padding-bottom: 5px;
  text-align: center;
}

.announcement-bar-message {
  color: #ffffff;
  font-weight: 900;
  font-size: 1rem;
  letter-spacing: 3px;
  font-family: 'Cardo';
}

.uploadcare--widget__button_type_cancel,
.uploadcare--widget__button_type_cancel:hover,
.uploadcare--widget__button_type_cancel:focus,
.uploadcare--widget__button_type_remove,
.uploadcare--widget__button_type_remove:hover,
.uploadcare--widget__button_type_remove:focus {
  padding: 10px 20px;
  margin-left: 10px;
  color: black;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.uploadcare--widget__button_type_remove,
.uploadcare--widget__button_type_remove:hover,
.uploadcare--widget__button_type_remove:focus {
  background-color: #e35c5c;
}

.uploadcare--widget__text {
  font-size: 15px;
}

.uploadcare--widget__progress {
  margin: 0.3em 0.7em 0 0;
  width: 2.8em;
  height: 2.8em;
}

.product-container {
	flex-direction: row;
	margin-top: 20px;
}

.frame-product-details {
	padding: 20px;
}

.frame-product-details .row {
	padding: 8px 0px;
}

.product-name {
	font-size: 3rem;
	letter-spacing: 2px;
  text-transform: uppercase;
	color: #3a3a3a;
  font-family:'Cardo';
}

.product-desc {
	font-size: 1.8rem;
	color: #3a3a3a;
  font-family:'Cardo';
	padding-top: 5px;
	padding-right: 50px;
	/* text-align: justify; */
}

.frame-type-thumbnail img {
	margin-right: 10px;
	border-radius: 50%;
	cursor: pointer;
}

.frame-product-details .custom-select {
	width: 200px;
}

.default-price{
  color: #1d2019;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  font-family:'Cardo';
}

.frame-views{
  margin-top: 10px;
  justify-content: center;
  /* margin-left: auto */
}

.frame-view-thumbnail {
  width:80px;
  height:80px;
}

.frame-thumbnails img {
  margin-right: 10px; 
  margin-top: 10px;
}

/* input[type=range].range-slider.range-slider--sm {
  width: 200px;
}

input[type=range].range-slider.range-slider--sm {
  width:200px
} */

.range-slider__wrap,range-slider__wrap--sm{
  width:180px;
}
.foo {
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

.white {
  background: white;
}

.black {
  background: black;
}

.close-sidebar{
  float: right;
  font-size: 30px;
  cursor: pointer;
  padding-right: 10px;
}

.sidebar-title{
  padding: 5px;
  font-weight: bold;
  color: #3a3a3a;
  font-family:'Cardo';

}

.sidebar-frame-name {
  color: #3a3a3a;
  font-family:'Cardo';

}

.thumb{
  height:40px;
  width:40px;
}

.thumb > img{
  width: 40px;
  height: 40px;
  object-fit: contain;
  overflow: hidden;
}
.sidebar-frame{
  width: 25%; 
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px 5px;
}

.sidebar-frame-list{
  padding: 10px;
  flex-direction: column;
}

.sidebar-frame-main-container {
  flex-direction: row;
}

.selected-frame-name{
  padding-left: 4px;
  cursor: pointer;
  color: #4d6b92;
}
.sidebar-frame-image{
  cursor: pointer;
  width: 90%;
}

.frame-select-wrapper{
  border: 1px solid #d8d8d8;
  width:360px;
  background-color: #fafafa;
}

.frame-select-label{
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #3A3B3C;
  padding: 5px 12px 0px 10px;
}
.frame-change-name{
  padding:5px;
  font-family: 'Cardo';
}
.frame-name{
  height:55px;
  cursor: pointer;
}

.frame-select-box{
  border: 0px;
  font-size: 1.5rem !important;
  height:35px;
  width:100% !important; 
  background-color: #fafafa;
  font-family: 'Cardo';
}

.image-container{
  background: #f6f5f4;
}
.edit-button{
  float: right;
  font-size: 1.5rem !important;
  padding-right: 5px;
  font-family: 'Cardo';
}
@media only screen and (max-width: 750px) {
  .upload-pic-sub-heading {
    margin: 0px 10px;
  }

  .select-image-dimension {
    margin: 0px 5px;
  }

  .announcement-bar {
    padding-right: 10px;
    padding-left: 10px;
  }

  .product-container {
    flex-direction: column;
		margin-top: 5px;
		margin-left: 10px;
  }

  .image-preview, .frame-image {
    padding: 20px 0px;
  }

  .sidebar-frame{
    width:75%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 20px;
  }
}

.selected-frame {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

@media only screen and (max-width: 320px) {
  .frame-view-thumbnail{
    width:75px;
  }
}
