.header{
    border-bottom: 1px solid #ebebeb;
}
.logo{
    padding-top: 17px;
    padding-bottom: 17px;
}
.uploadcare--widget{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.continue-button{
    margin-top: 20px !important;
    display: flex;
    justify-content: center;
}
.uploadcare--widget__button_type_open,
.uploadcare--widget__button_type_open:hover,
.uploadcare--widget__button_type_open:focus {
    /* margin-top: 50px; */
    background: url("https://cdn.framebridge.com/assets/upload-icon-ac9e9a266300e4740aedca59cda00c80793c62adf56b33b4b473b358415598ad.png") no-repeat;
    outline-offset: 10px;
    overflow: hidden;
    text-indent: 100px;
    cursor:pointer;
    width: 200px;
    height: 200px;
    background-size: 70%;
}

.image-preview{
    height: 200px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}
.frame{
    margin-top: 50px
}
.frame-image{
    width: 100%;
    margin-top: 20px
}
.frame-thumbnail{
    width:25px;
    height:25px;
    padding-right: 5px;
}
.upload-photo-heading{
    text-align: center;
    color: black;
    letter-spacing: 0;
    font-weight: bold;
    margin-top: 35px;
}
.center{
    text-align: center;
}
.select-size{
    margin-top: 16px;
}